Сборная 300+/12 - автонаполняемого блога на WordPress через n8n.txt
{
  "name": "SEO Wordpress Perplexity Research v1.0",
  "nodes": [
    {
      "parameters": {
        "content": "## Write SEO Optimized Blog Post\n\n\n",
        "height": 440,
        "width": 420,
        "color": 3
      },
      "id": "932b50d0-8f95-418e-8a06-1f244768ecbd",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "title": "={{ $('Combine Blog Details').item.json.data[2].output.title }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $json.content }}",
          "slug": "={{ $('Combine Blog Details').item.json.data[2].output.slug }}",
          "status": "draft",
          "commentStatus": "closed",
          "sticky": false,
          "postTemplate": {
            "values": {}
          }
        }
      },
      "id": "fc632fcf-7554-4e74-a0c9-8595dfd5e197",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        100,
        680
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "S10pbkq1or1atjQ2",
          "name": "Wordpress account Mylifetarget.ru"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create HTML\n\n\n",
        "height": 280,
        "width": 440,
        "color": 7
      },
      "id": "21919e33-a9e6-44d3-a852-97111a227948",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Post on Wordpress\n\n\n",
        "height": 280,
        "width": 300,
        "color": 4
      },
      "id": "271c1802-0158-49f6-a33a-28a97004b8cc",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "8321cfb0-df14-4a6e-aa56-b1b1013097f5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        420,
        380
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Ape0fvwf6khdiLul",
          "name": "OpenAi account shopdealer26"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"slug\": \"rpo-benefits-recruitment\",\n\"title\": \"7 Key Advantages of RPO for Modern Recruitment\",\n\"meta\": \"Explore how Recruitment Process Outsourcing (RPO) enhances hiring efficiency, reduces costs, and expands talent pools for businesses seeking top candidates.\"\n}"
      },
      "id": "1e1bedef-ab9c-435b-9ff2-9fd30d559472",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        640,
        380
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Only output the HTML content without preamble or further explanation. Generate WordPress-compatible HTML for a blog post based on the provided content.\n\n### CONTENT PROCESSING:\n- Process all content from {{ $json.output }}\n- Preserve all original facts, information, and URLs\n- Format according to the specifications below\n\n### REQUIRED STRUCTURE (IN THIS ORDER):\n1. Title (H2)\n2. Время чтения\n3. Ключевые моменты (3-5 основных пунктов)\n4. Содержание статьи (linked to all headings)\n5. Main content (with proper heading hierarchy)\n6. Часто задаваемые вопросы\n\n### STYLING REQUIREMENTS:\n- Style Override: Include a style section with !important declarations\n- Links: All hyperlinks, TOC items, and FAQ questions must be #00c2ff (blue)\n- Headings: All headings need a bottom border in #00c2ff with padding\n- Spacing: Add <br><br> between each major section\n\n### ENGAGEMENT FORMATTING:\n- Use bold, italics, bullet points, quotes, and highlighting for emphasis\n- Create proper paragraph structure with appropriate line breaks\n- NO emojis allowed\n- Use whitespace strategically for readability\n\n### HYPERLINK HANDLING (CRITICAL):\n- When URLs appear next to keyphrases (e.g., \"AI tools (https://example.com)\")\n- Convert to: <a href=\"https://example.com\" style=\"color: #00c2ff !important;\">AI tools</a>\n- The KEYPHRASE must be linked, never the URL itself\n\n### WORDPRESS COMPATIBILITY:\n- Use WordPress block classes (wp-block-heading, wp-block-paragraph, etc.)\n- Add heading IDs starting with \"h-\" for better TOC linking\n- Ensure all styles use !important to override theme styles\n\nDO NOT include any explanations, code tags, or comments. Output ONLY the raw HTML.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "5345247c-e6e8-44b1-b061-5ade046a9e92",
      "name": "Create HTML",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        440,
        -140
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "Ape0fvwf6khdiLul",
          "name": "OpenAi account shopdealer26"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "7276618b-e665-4533-bbaf-fdd1cdcb2ae2",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        900,
        120
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mylifetarget.ru/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"cover-image-{{ $('Wordpress').item.json.id }}.jpeg\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "8db3061e-f360-496f-a602-d2baee14cbda",
      "name": "Upload Image to Wordpress",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1100,
        680
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "S10pbkq1or1atjQ2",
          "name": "Wordpress account Mylifetarget.ru"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mylifetarget.ru/wp-json/wp/v2/posts/{{ $('Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "435aa35a-d51b-4b94-8539-a1da258be6a2",
      "name": "Set Image on Wordpress Post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1300,
        680
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "S10pbkq1or1atjQ2",
          "name": "Wordpress account Mylifetarget.ru"
        }
      }
    },
    {
      "parameters": {
        "content": "## Perplexity Research\n\n\n",
        "height": 300,
        "width": 460,
        "color": 4
      },
      "id": "032512ae-5c7c-4ba3-b82b-58b58942da7e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Пример общих поисковых запросов\nДобавьте свои собственные или попробуйте использовать эти для тестирования сценария.\n\n0. Как автоматизировать контент на WordPress через n8n?\n1. Как внедрить нейросети для прогнозирования продаж в ритейле?\n2. Кейсы автоматизации HR-процессов с помощью n8n и AI\n3. Тренды 2025: как AI трансформирует управление проектами",
        "height": 520,
        "width": 460
      },
      "id": "c1446294-44ca-477f-b7dd-1ff8e8c8063e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Действуйте как профессиональный исследователь, способный находить детальные сводки по теме автоматизации и нейросетей из авторитетных источников.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Исследуйте следующую тему и верните всю информацию о: '{{ $json.message.text }}'. Фокус: автоматизация бизнес-процессов, нейросети, AI-консалтинг, RPA.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "cf925c8a-2b97-4f2b-b6c7-c01e2e42f0c2",
      "name": "Perplexity Research",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -540,
        120
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "6QYkjky97TT3LW8q",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "type": "string",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - источник: \" +$json.citations[0]).replaceAll(\"[2]\",\" - источник:\" +$json.citations[1]).replaceAll(\"[3]\",\" - источник: \" +$json.citations[2]).replaceAll(\"[4]\",\" - источник: \"+$json.citations[3]).replaceAll(\"[5]\",\" - источник: \"+$json.citations[4]).replaceAll(\"[6]\",\" - источник: \"+$json.citations[5]).replaceAll(\"[7]\",\" - источник: \"+$json.citations[6]).replaceAll(\"[8]\",\" - источник: \"+$json.citations[7]).replaceAll(\"[9]\",\" - источник: \"+$json.citations[8]).replaceAll(\"[10]\",\" - источник: \"+$json.citations[9]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4e9f920-cd83-4ad5-87f7-15a0f634ffcb",
      "name": "Cleanup Links",
      "type": "n8n-nodes-base.set",
      "position": [
        -340,
        120
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Create Title, Slug & Meta\n\n\n",
        "height": 440,
        "width": 440,
        "color": 7
      },
      "id": "27a97555-0578-4d11-804b-88d5b875b146",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0afb2988-1481-4b04-b16d-fb33c50a16d0",
              "name": "content",
              "type": "string",
              "value": "={{ $json.data[0].message.content.replaceAll('```html', '').replaceAll('```','') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "25b282b8-f091-4fc3-ae3e-76085199b97a",
      "name": "Cleanup HTML ",
      "type": "n8n-nodes-base.set",
      "position": [
        1100,
        380
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Set Image for Wordpress Post",
        "height": 440,
        "width": 1300
      },
      "id": "8b258be1-c855-4b67-aad9-c9ef0512183e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "=@your_chanel",
        "text": "=Готово! Ваш пост был успешно создан и отправлен в WordPress (Черновики).\n\nНазвание поста: {{ $json.title.raw }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "93725f34-1de7-4293-bcac-5ce7d980b486",
      "name": "Send Success Message to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1700,
        680
      ],
      "webhookId": "91f7d710-450a-4b66-8e46-82f53492351e",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "Kb9x91blIo67HjHk",
          "name": "Telegram account Посты для MyLifeTarget"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "96652e48-af69-43bf-b985-c193e5ac83fb",
      "name": "Combine Blog Details",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1100,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Вы являетесь частью маркетинговой команды, которая создает высококачественные посты в блогах для индустрии искусственного интеллекта и автоматизации рабочих процессов. Ваша цель - создавать привлекательный, оптимизированный для SEO контент, который позиционирует вас, как эксперта в AI-консалтинге и автоматизации процессов через n8n.\n\nКаждые 2 дня публикуется статья о трендах в AI и автоматизации. Как копирайтер, вы получаете:  \n- **Запрос:** Основная тема статьи (например, \"Автоматизация CRM через нейросети\").  \n- **Ключевые слова:** Список высокочастотных запросов (например, \"нейросети для бизнеса\", \"автоматизация процессов\", \"AI-консалтинг\").\n- **Исследование:** Данные от Perplexity.ai по теме.\n\nВаша задача написать статью, которая:\n- Включает ключевые слова (не спам!) естественно запрос в заголовок блога, заголовок H2.\n- Основывается на данных исследования.\n- Даёт практические советы (например, как внедрить RPA).\n- Содержит CTA действие, например, \"Узнайте, как внедрить нейросети в моём → <a href=\"https://botomarketing.ru/neyroclub\">Закрытом Нейроклубе</a>\"\n- Длина: 1500–2000 слов.\n- Тон: профессиональный, но доступный для владельцев бизнеса.\n\n- Другие ключевые слова: список ключевых слов с большим объемом поиска, связанных с консалтингом в области искусственного интеллекта и рабочими процессами n8n. Включите их естественным образом в пост в блоге, где это уместно, не навязывая их и не меняя смысла поста.\n\n- Результаты исследования: Подробная информация из авторитетных источников, относящаяся к теме блога. Ваш пост должен основываться на этом исследовании.\n\nСоздайте черновик всего поста в блоге в своем первом выходе. Не останавливайтесь и не сокращайте его.\n\nВашим результатом должна быть запись в блоге и ничего больше. Исключите из текста все упоминания источников и ссылок. Фокусируйтесь только на фактах.\n\nВот подробности этого проекта для публикации поста в блоге:\n\nЗапрос:\n{{ $('Telegram Trigger').item.json.message.text }}\n\nДетальное исследование:\n{{ $('Cleanup Links').item.json.research }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -60,
        120
      ],
      "id": "fc90e13e-aae0-4983-9c3f-e69cae0f772a",
      "name": "Копирайтер AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=** Создайте заголовок поста в блоге и мета-описание для следующего поста в блоге.:**\n\n{{ $json.output }}\n\n**Slug Guidelines:**\n- Излагайте кратко (максимум 4-5 слов).\n- Включите основное ключевое слово, связанное с AI автоматизацией и n8n.\n- Используйте дефисы для разделения слов.\n- Избегайте ненужных слов, артиклей или предлогов.\n- Убедитесь, что оно отражает основную тему поста в блоге.\n- Сделайте его читабельным и релевантным как для пользователей, так и для поисковых систем.\n\n**Title Guidelines:**\n- Не пишите каждое слово с заглавной буквы, а только первое слово должно начинаться с большой буквы.\n- Avoid AI words like \"Transform\" or \"Revolutionize\" and similar overused terms.\n- Avoid using a colon (:) in the title.\n- Never structure it as a primary/secondary title separated by a colon.\n- Включите основное ключевое слово, связанное с AI и мскусственным интеллектом (например, \"Искусственный интеллект в подборе персонала\" или \"AI агенты для бизнеса\").\n- Clearly inform users what they can expect from reading the blog post.\n- Be concise and engaging, ideally 50-60 characters long.\n- Используйте убедительные слова, которые понравятся специалистам по автоматизации, экспертам и владельцам бизнеса.\n\n**Meta Description Guidelines:**\n- Avoid AI words like \"Transform\" or \"Revolutionize\" and similar overused terms.\n- Be concise: Limit to 150-160 characters to ensure full visibility in search results.\n- Include keywords: Naturally incorporate AI keywords to enhance relevance and visibility.\n- Provide value: Clearly convey the benefits or insights readers will gain from the article.\n- Be engaging: Use action-oriented language or a thought-provoking question to encourage clicks.\n- Align with content: Accurately reflect the blog post's content to meet user expectations and reduce bounce rates.\n- Highlight expertise: Subtly emphasize SocialFind's authority in the AI.\n\nYour output must be a single valid JSON object with these 3 fields:\n-slug: The slug\n-title: The blog post title\n-meta: The meta description  \n\nEach should be presented without any additional text, explanation, quotation marks, or formatting.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        420,
        200
      ],
      "id": "f3808de3-41a9-4203-9e9f-3e48acb14255",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [YOUR_API_KEY]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"{{ $('Промпт для фото').item.json.message.content }}\",\n\"parameters\": {\n\"width\": 1920, \n\"height\": 1080\n}\n} ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "cd9c986f-50c9-4694-860b-f8dc3e577785",
      "name": "Генерация фото",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        680
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "49d4a4e3-eae0-4288-abfb-22b5814b8c92",
      "name": "Wait 60sec",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        940,
        820
      ],
      "webhookId": "ed16fdbf-e268-43d4-98cd-c8c72fdd636d"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Ты промт инженер для сети Flux. Твоя задача сделать промпт на английском языке для генерации изображения в стиле флат иллюстрации без надписей, на основе заголовка который я тебе дам. Промпт не должен быть длинным и в нём не должно быть команд.\nУдали из ответа слово \"Промпт:\"\n!!!Не используй в промпте кавычки, спец. символы и знак конкатенации & и \\n\n!!!На фото не должно быть никакого текста",
              "role": "system"
            },
            {
              "content": "={{ $json.title.raw }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a33403cd-18ab-49fa-b55c-99206690db58",
      "name": "Промпт для фото",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        360,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ape0fvwf6khdiLul",
          "name": "OpenAi account shopdealer26"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        120
      ],
      "id": "e3a0ddc6-93bc-4f5b-9acb-e6fd6dc9256c",
      "name": "Telegram Trigger",
      "webhookId": "32792b6a-4e66-4cef-8b79-5ad1df050e15",
      "credentials": {
        "telegramApi": {
          "id": "Kb9x91blIo67HjHk",
          "name": "Telegram account Посты для MyLifeTarget"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "c3f22632-03ae-4b75-aa1e-f998c64aeda3",
      "name": "gpt-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -60,
        320
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Ape0fvwf6khdiLul",
          "name": "OpenAi account shopdealer26"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://mylifetarget.ru/wp-json/wp/v2/media/{{ $json.featured_media }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alt_text\": \"{{ $('AI Agent').item.json.output.meta }}\",\n  \"title\": \"{{ $('AI Agent').item.json.output.title }}\",\n  \"caption\": \"{{ $('AI Agent').item.json.output.title }}\",\n  \"description\": \"{{ $('AI Agent').item.json.output.meta }}\"\n}",
        "options": {}
      },
      "id": "35541083-2281-4d9d-be09-b20669b78048",
      "name": "Добавление мета данных",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        680
      ],
      "credentials": {
        "wordpressApi": {
          "id": "S10pbkq1or1atjQ2",
          "name": "Wordpress account Mylifetarget.ru"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Combine Blog Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Промпт для фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup HTML ": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Cleanup Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Blog Details": {
      "main": [
        [
          {
            "node": "Cleanup HTML ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Wordpress": {
      "main": [
        [
          {
            "node": "Set Image on Wordpress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image on Wordpress Post": {
      "main": [
        [
          {
            "node": "Добавление мета данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Links": {
      "main": [
        [
          {
            "node": "Копирайтер AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Копирайтер AI Agent": {
      "main": [
        [
          {
            "node": "Create HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Генерация фото": {
      "main": [
        [
          {
            "node": "Upload Image to Wordpress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 60sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60sec": {
      "main": [
        [
          {
            "node": "Генерация фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Промпт для фото": {
      "main": [
        [
          {
            "node": "Генерация фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Копирайтер AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Добавление мета данных": {
      "main": [
        [
          {
            "node": "Send Success Message to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd329939-0f17-471b-af98-9f23c41d21c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f00dea1967ab33e5f77029ddd3995981f6959c65d6fab4cb804920a5856e9464"
  },
  "id": "QL1xW7oTv5UQgv03",
  "tags": [
    {
      "createdAt": "2025-03-25T09:39:57.416Z",
      "updatedAt": "2025-03-25T09:39:57.416Z",
      "id": "4v5KVLhvNLMS6LkN",
      "name": "Закрытый Нейроклуб"
    }
  ]
}